/* fade ALL out on parent hover */


/* fade ONE in on hover */

.uts-highlight {
    box-shadow: 0 2px 15px rgba(0, 0, 0, 1);
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    outline: #00FF00 dotted thick;
    outline-offset: -5px;
}
